# Devnet USDC mint address (6 decimals)
VITE_USDC_MINT=CAMk3KqYMKEtoQnsDyJMmdKUfvh5wa4uYSJvUTDheeGn

# Admin wallet addresses (comma-separated)
VITE_ADMIN_WALLETS=66HBrTxNii7eFzSTgo8mUzsij3FM7xC2L9jE2H89sDYs,FLbSeegx6UqXx4doXbtoWWoKBxRoFLrBTmQcoyeXsxjq
